modules = ["nodejs-20", "python-3.12", "web"]
compile = "make"

[nix]
channel = "stable-24_05"
packages = ["libxcrypt", "tesseract"]

[deployment]
build = ["sh", "-c", "make"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run Frontend"

[[workflows.workflow]]
name = "Run Frontend"
author = 37000531
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
